﻿@model IEnumerable<Klima.Temperatur>

<div>
    @{
        ViewBag.Title = "Index";
    }
</div>

<h2>Index</h2>
<div>
    @{
        var dat1 = Model.Where(m => m.SensorID == 4).OrderByDescending(m => m.Tid).Select(m => new { m.Tid, m.Verdi });
        var dat2 = Model.Where(m => m.SensorID == 3).OrderByDescending(m => m.Tid).Select(m => new { m.Tid, m.Verdi });

        var myChart = new Chart(width: 600, height: 400, theme: ChartTheme.Blue)
            .AddTitle("Sjøvannstemperatur i Bestumkilen")
            .AddLegend("Dybde")
            .AddSeries(
                name: "0.2m",
                chartType: "Line",
                xValue: dat1.ToArray(), xField: "Tid",
                yValues: dat1.ToArray(), yFields: "Verdi")
            .AddSeries(
                    name: "1.5m",
                    chartType: "Line",
                    xValue: dat2.ToArray(), xField: "Tid",
                    yValues: dat2.ToArray(), yFields: "Verdi")
            .Write();
    }
</div>
