﻿@model Klima.Temperatur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Temperatur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sensor.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sensor.Navn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
