﻿@model List<Klima.Controllers.temps>

@{
    ViewBag.Title = "Badevann";
}

@*@Scripts.Render("~/Scripts/test.js")*@


<div id="chart">
</div>

@*@section scripts
{*@
        @*<script type="text/javascript" src="@Url.Content("~/Scripts/vanntempd3.js")">*@

    <script>

    var legendRectSize = 18;
    var legendSpacing = 4;
    var color = d3.schemeCategory20b;

    // Set the dimensions of the canvas / graph
    var margin = { top: 30, right: 20, bottom: 30, left: 50 },
        width = 600 - margin.left - margin.right,
        height = 270 - margin.top - margin.bottom;

    var formatDateTime = d3.timeFormat("%d-%b-%Y %H:%M");

    // Set the ranges
    var x = d3.scaleTime().range([0, width]);
    var y = d3.scaleLinear().range([height, 0]);

    // Define the axes
    var xAxis = d3.axisBottom().scale(x).ticks(d3.date);

    var yAxis = d3.axisLeft().scale(y).ticks(5);

         // Define the line
    var valueline = d3.line()
        .x(function (d) { return x(d.dateTime); })
        .y(function (d) { return y(d.Verdi); });

    function zoomed() {
        //console.log("zoom " + d3.event.scale);
        //svg.select("g.x.axis").call(xAxis);
        //svg.select("g.y.axis").call(yAxis);
        svg.attr("transform", "translate(" + d3.event.transform.x + ")translate(" + d3.event.transform.y + ")scale(" + d3.event.transform.k + ")");
        //svg.attr("transform", "translate(" + d3.event.transform.x + ")scale(" + d3.event.transform.k + ")");
        //svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
    }

    var zoom = d3.zoom()
        .scaleExtent([1, 20])
        .on("zoom", zoomed);

    // Adds the svg canvas
    var svg = d3.select("#chart")
        .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.right + ")");
        //.call(zoom)
        //.append("g");

    svg.append("rect")
//        .attr("class", "pane")
        .attr("width", width)
        .attr("height", height)
        .style("opacity", 0)
        .call(zoom);

    //Define the div for the tooltip
    var div = d3.select("body").append("div")	
        .attr("class", "tooltip")				
        .style("opacity", 0);

    var data = @Html.Raw(Json.Encode(Model));
//data er serverdata, function() kalles async når data er tilgjengelig
//    d3.json("http://localhost:53022/Api/Temperaturs", function (error, data) {
//        if (error) return console.warn(error);

    var data1 = [];
    var data2 = [];

    function elem(tid, verdi) {
        this.dateTime = tid;
        this.Verdi = verdi;
    }

    data.forEach(function (d) {
            d.dateTime = new Date(parseInt(d.Tid.substr(6)));
            d.Verdi = +d.Verdi;
            if (d.Maalepunkt == 2) {
                data1.push(new elem(new Date(parseInt(d.Tid.substr(6))), +d.Verdi));
            }
            else if (d.Maalepunkt == 3) {
                data2.push(new elem(new Date(parseInt(d.Tid.substr(6))), +d.Verdi));
            }
        }); //foreach

        // Scale the range of the data
        x.domain(d3.extent(data, function (d) { return d.dateTime; }));
        y.domain([0, 5 + d3.max(data, function (d) { return d.Verdi; })]);

        // Add the valueline path
        var path = svg.append("path")
            .attr("d", valueline(data1))
            .attr("stroke", "steelblue");

        var path = svg.append("path")
            .attr("d", valueline(data2))
            .attr("stroke", "green");

        // Add the scatterplot
        svg.selectAll("dot")	
            .data(data)			
        .enter().append("circle")								
            .attr("r", 5)		
            .attr("cx", function(d) { return x(d.dateTime); })		 
            .attr("cy", function(d) { return y(d.Verdi); })
            .style('opacity', 1e-6)
            .on("mouseover", function(d) {		
                div.transition()		
                    .duration(200)		
                    .style("opacity", .9);		
                div.html(formatDateTime(d.dateTime) + "<br />" + d.Verdi + "&degC" )	
                    .style("left", (d3.event.pageX) + "px")		
                    .style("top", (d3.event.pageY - 28) + "px");	
            })					
            .on("mouseout", function(d) {		
                div.transition()		
                    .duration(500)		
                    .style("opacity", 0);	
            });

        //Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        //svg.append("g")
        //    .attr("class", "x axis")
        //    .attr("transform", "translate(0," + 5 + ")")
        //    .call(xAxis);

        // Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);

//    });

</script>
@*}*@
