﻿
body { 
  font: 12px Arial;
}

path { 
/*    stroke: steelblue;
  */  stroke-width:0.2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 0.5;
/*    shape-rendering: crispEdges;
*/}

/*#chart { 
    height: 360px;
    position: relative;
    width: 360px;
}*/

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 130px;					
    height: 36px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.legend {
    font-size: 12px;
}
