﻿@model Klima.Controllers.temperaturer

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Killingen</h1>
    @{ 
        //var dat = Model.Where(t => t.SensorID == 4).OrderByDescending(t => t.Tid).First();//.Select(m => new { m.Tid, m.Verdi });
        //vat verdi = dat.
    }
    <p class="lead">Sjøtemperatur</p>
    <div id = 'tempnow'>
        <br /><h2>Nå: @string.Format("{0:0.00}", Model.now) &deg;C (@Model.nowTime.Date.ToString("dd MMM,yyyy") kl @Model.nowTime.ToString("HH:mm")) </h2>
        <br /><h2>Max i dag: @string.Format("{0:0.00}", Model.max) &deg;C (@Model.maxTime.Date.ToString("dd MMM,yyyy") kl @Model.maxTime.ToString("HH:mm")) </h2>
        <br /><h2>Min i dag: @string.Format("{0:0.00}", Model.min) &deg;C (@Model.minTime.Date.ToString("dd MMM,yyyy") kl @Model.minTime.ToString("HH:mm")) </h2>
        <br /><h2> </h2>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Siste bilde", "Index", "WebCam")
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Badevann - Ny skalerbar graf", "Index", "Badevann")
        </h2>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Badevann - statisk graf", "Index", "Temperaturs")
        </h2>
    </div>
</div>